.ant-tabs
  color gray
  
.ant-tabs-tab.ant-tabs-tab-active
  .ant-tabs-tab-btn
    color white

.ant-tabs-ink-bar
  background #f90

.ant-tabs-tab-btn:focus
.ant-tabs-tab-btn:hover
.ant-tabs-tab-remove:focus
.ant-tabs-tab-btn:active
.ant-tabs-tab-remove:active
  color #f90