.ant-card-body
  background #1b
  color white
  font-size large

h1
  background #1b
  height 8vh
  line-height 8vh
  font-size xx-large

h1.home
  text-align center

h1
  span
    color white    

h1
  span:nth-child(2)
    color black
    background #f90

p
  span
    color #f90
    font-weight 900

div.button
  text-align center

.ant-btn
  color white
  background #1b