.ant-card-body
  background #B1D3E0
  color black
  font-size large

h1
  background #0F7884
  height 8vh
  line-height 8vh
  font-size xx-large
  margin 0

h1.home
  text-align center

p
  span
    color #ffffe0
    font-weight 900

div.button
  text-align center

.ant-btn
  color #004c7d
  background #A6CBE7