.ant-menu.ant-menu-dark
  background #B1D3E0

.ant-menu-item
  background #B1D3E0

.ant-menu.ant-menu-dark
  & .ant-menu-item-selected
    background #F4FBFF
  
.ant-menu-dark .ant-menu-item > a
  color #004c7d

// .ant-menu-dark .ant-menu-item-selected > a
//   color #f