.ant-menu.ant-menu-dark
.ant-menu-item
  background black

.ant-menu.ant-menu-dark
  & .ant-menu-item-selected
    background #f90
  
.ant-menu-dark .ant-menu-item > a
  color #b

.ant-menu-dark .ant-menu-item-selected > a
  color #f