.ant-table
  background black
  // color white

.ant-table-thead
  tr
    th
      color white
      background black

.ant-table-cell-fix-left
  background black

.ant-table-header > table > thead > tr > th > div > div > span.ant-table-column-sorter.ant-table-column-sorter-full
  color white
