.ant-table
  background #F9F9EC

.ant-table-thead
  tr
    th
      color #659b28
      background #F9F9EC

.ant-table-cell
  border 1px solid #D4EFF7

.ant-table-cell-fix-left
  background #F9F9EC

.ant-table-header > table > thead > tr > th > div > div > span.ant-table-column-sorter.ant-table-column-sorter-full
  color #e0ffea
