.layout
  height 100%

.layout
.ant-layout-header
.ant-layout-footer
  background black

.ant-layout-footer
  color white

th.ant-table-cell
  font-size large

.ant-table-tbody > tr.ant-table-row:hover > td
.ant-table-thead th.ant-table-column-has-sorters:hover
.ant-btn-primary:hover
  background #f90
