.layout
  height 100%

.layout
.ant-layout-header
.ant-layout-footer
  background #F9F9EC
  padding 0


.ant-layout-footer
  color #black

th.ant-table-cell
  font-size large

.ant-table-tbody > tr.ant-table-row:hover > td
.ant-table-thead th.ant-table-column-has-sorters:hover
.ant-btn-primary:hover
  background #F4FBFF
