.ant-modal-title
.ant-modal-header
.ant-modal-content
  background#F9F9EC
  color black

.ant-card-head-title
  color black

.ant-table-cell
  overflow-wrap: break-word;

.ant-modal-close-x
  color black